<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}"  xmlns:sd="http://www.thymeleaf.org/spring-data">
<head>
    <title>워드프레스</title>
    <script th:src="@{/js/image-size.js}"></script>
    <link th:href="@{/css/search.css}" rel="stylesheet" />
</head>
<body th:onload="'initPrettify()'">
<!-- Main Content -->
<div class="container" layout:fragment="content">
    <div class="row">
        <div class="col-sm-9 blog-main">
            <h1 class="post-title" style="margin-bottom:3%" th:text="${wordPress.postTitle}">
            </h1>
            <div>
                <p style="margin: 10px 0px;">Posted by <strong>wonwoo</strong> on <strong th:text="${#temporals.format(wordPress.postDate, 'yyyy-MM-dd')}"> </strong> </p>
            </div>
            <div style="margin-bottom:30px" th:utext="${wordPress.postContent}">
            </div>
        </div>

        <div class="col-sm-3 col-sm-offset-0 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset content-right-pane--container" th:utext="${wordPress.tableOfContent}">Container</div>
            <div class="sidebar-module sidebar-module-inset content-right-pane--container">
                <div class="right-pane-widget--container">
                    <div class="related_resources">
                        <h3>관련</h3>
                    </div>
                    <ul class="sectlevel1" th:each="relationPost : ${relationPosts}" style="border-radius:1.25em;" >
                        <li>
                            <a th:href="@{'/wordPress/' + ${relationPost.id}}" th:text="${relationPost.postTitle}">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-4336320637630983"
                 data-ad-slot="2119272553"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</div>
</body>
</html>