<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main" xmlns:sd="http://www.thymeleaf.org/spring-data">
<head>
    <title>워드프레스</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/gsguide.css}"/>
</head>
<body th:onload="'initPrettify(),initHideShowGuide()'">
<!-- Main Content -->
<div class="container" layout:fragment="content">
    <div class="col-lg-3 col-lg-offset-9">
        <input type="text" class="form-control" id="q" name="q"/>
        <input type="button" class="btn btn-secondary" value="search" onclick="location.href='/wordPress?q=' + document.getElementById('q').value" />
    </div>
    <div class="row" th:each="wordPress : ${wordPresses.content}">
        <h1 class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1" style="margin-bottom:3%; margin-top: 5%"
            th:utext="${wordPress.title}">
        </h1>
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1" th:utext="${wordPress.content}">

        </div>
    </div>

    <div class="row" style="margin-top: 5%">
        <div class="col-lg-3 col-lg-offset-1 col-md-10 col-md-offset-1">
            <div sd:pagination-summary="">info</div>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-md-10 col-md-offset-1">
            <nav class="pull-right">
                <ul class="pagination" sd:pagination="full">
                    <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>