<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main" xmlns:sd="http://www.thymeleaf.org/spring-data">
<head>
    <title>워드프레스</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/gsguide.css}"/>
    <script type="text/javascript" th:inline="javascript">
        $(function() {
            $("img").each(function() {
                var oImgWidth = $(this).width();
                var oImgHeight = $(this).height();
                $(this).css({
                    'max-width':oImgWidth+'px',
                    'max-height':oImgHeight+'px',
                    'width':'100%',
                    'height':'100%'
                });
            });
        });
    </script>
</head>
<body th:onload="'initPrettify(),initHideShowGuide()'">
<!-- Main Content -->
<div class="container" layout:fragment="content">
    <div class="row">
        <h1 class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1" th:text="${wordPress.title}">
        </h1>
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
            <p style="margin: 10px 0px;">Posted by <strong th:text="${wordPress.author.name}"></strong> on <strong th:text="${#temporals.format(wordPress.date, 'yyyy-MM-dd')}"> </strong> </p>
        </div>

        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1" th:utext="${wordPress.content}">

        </div>
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1" style="padding-top: 30px;">
            <span class="label label-info" th:each="tag : ${wordPress.tags}" style="border-radius:1.25em;" th:text="${tag.key}">
            </span>
        </div>
    </div>
</div>
</body>
</html>