<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/main}">
<head>
    <title>포스터</title>
    <link th:href="@{/css/search.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/post.css}"/>
</head>
<body>
<div class="container" layout:fragment="content">
    <form class="form-horizontal well bs-component col-lg-10 col-lg-offset-1 blog-post-form" th:action="@{'/posts/'+${editPost.id} +'/edit/'}"
          th:object="${editPost}" method="post" th:id="post">
        <fieldset>
            <div class="form-group" th:classappend="(${#fields.hasErrors('title')}? ' has-error')">
                <label for="title" class="col-lg-2 control-label">Title</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="title" name="title" th:field="*{title}"
                           placeholder="Title"/>
                    <span class="help-block" th:if="${#fields.hasErrors('title')}"
                          th:errors="*{title}">Incorrect title</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label">category</label>
                <select class="selectpicker" name="categoryId">
                    <option th:each="category : ${categories}" th:text="${category.name}" th:value="${category.id}"></option>
                </select>
            </div>


            <div class="form-group">
                <label class="col-lg-2 control-label">tags</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="tags" name="tags" th:field="*{tags}"/>
                </div>
            </div>

            <div class="control-group" th:classappend="(${#fields.hasErrors('content')}? ' error')">
                <label class="col-lg-2 control-label" for="content">Content:</label>
                <div class="controls col-lg-10">
                    <textarea id="content" th:field="*{content}" name="content"></textarea>
                    <span class="help-inline" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Incorrect content</span>
                </div>
            </div>

            <div class="pull-right">
                <button class="btn btn-large btn-primary" type="submit" >Submit</button>
                <button class="btn btn-large btn-warning" type="button" th:onclick="'deletePost(\'' + ${editPost.id} + '\')'">
                    Delete
                </button>
            </div>
        </fieldset>
    </form>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

        function deletePost(postId) {
            document.getElementById("post").action = "/posts/" + postId + "/delete";
            document.getElementById("post").submit();
        }

        /*]]>*/
    </script>
</div>
</body>
</html>
