.owf.owf-666:before,
.owf.owf-666-d:before,
.owf.owf-666-n:before {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\0041";
}

.weather h1 {
    font-size: 60px;
    padding: 20px 20px 0px 20px;
    color: black;
    text-shadow: 2px 2px black;
}
.weather h2 {
    font-size: 35px;
    padding-bottom: 10px;
}

.weather li {
    list-style: none;
    display: block;
    background-color: rgba(255,255,255,.8);
    padding: 20px;
    margin: 20px;
}

.weather ul li div i {
    display: block;
    float: left;
    padding-right: 20px;
}
.weather div.temp {
    font-size: 30px;
    float: left;
    padding: 10px 100px 0px 0px;
}
.weather div.temp sup {
    font-size: 15px;
}