<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layouts/main" xmlns:sd="http://www.thymeleaf.org/spring-data">
<head>
    <title>HOME</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/gsguide.css}"/>
    <style>
        @media (min-width: 1200px) {
            .container {
                width: 1100px;
            }
        }
        .blog-main {
            font-size: 18px;
            line-height: 1.5;
        }

        /* Sidebar modules for boxing content */
        .sidebar-module {
            padding: 15px;
            margin: 0 -15px 15px;
        }
        .sidebar-module-inset {
            padding: 15px;
            background-color: #f5f5f5;
            border-radius: 4px;
        }
        .sidebar-module-inset p:last-child,
        .sidebar-module-inset ul:last-child,
        .sidebar-module-inset ol:last-child {
            margin-bottom: 0;
        }
    </style>
    <script type="text/javascript" th:inline="javascript">
        $(function() {
            $("img").each(function() {
                var oImgWidth = $(this).width();
                var oImgHeight = $(this).height();
                $(this).css({
                    'max-width':oImgWidth+'px',
                    'max-height':oImgHeight+'px',
                    'width':'100%',
                    'height':'100%'
                });
            });
        });
    </script>
</head>
<body th:onload="'initPrettify()'">
<!-- Main Content
-->
<div class="container" layout:fragment="content">
    <div class="row">
        <div class="col-sm-9 blog-main">
            <ul class="pager" sec:authorize="hasRole('ROLE_ADMIN')">
                <li class="next">
                    <a th:href="@{/posts/new/form}">write</a>
                </li>
            </ul>
            <div class="row" th:each="post : ${posts.content}">
                <a  th:href="@{'/posts/' + ${post.id}}">
                    <h1 class="post-title" th:text="${post.title}">
                    </h1>
                </a>
                <p class="post-meta" style="margin: 10px 0px;">Posted by <strong th:text="${post.user.name}"></strong> on <strong th:text="${#temporals.format(post.regDate, 'yyyy-MM-dd')}"> </strong> category <strong th:text="${post.category.name}"></strong></p>
                <div class="row" th:if="${show}">
                    <div class="col-lg-10 col-lg-offset-0 col-md-10 col-md-offset-1" style="margin-bottom:30px" th:utext="${post.content}">

                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 5%">
                <div class="col-lg-5 col-lg-offset-3 col-md-10 col-md-offset-1">
                    <nav class="pull-right">
                        <ul class="pagination" sd:pagination="full">
                            <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-sm-offset-0 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <input type="text" class="form-control" id="q" name="q"
                       placeholder="title"/>
                <input type="button" class="btn btn-secondary" value="search" th:onclick="'postSearch()'"/>
            </div>
            <div class="sidebar-module" style="padding:5px; margin:0 -5px 0px" th:text="카테고리">
            </div>
            <div class="sidebar-module">
                <ul class="list-group" th:each="category : ${categories}">
                    <li class="list-group-item"><a th:text="${category.name}" th:href="@{'/posts/category/' + ${category.id}}"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <th:block layout:fragment="script">
        <script type="text/javascript" th:inline="javascript">
            function postSearch(){
                location.href='/?q='+ document.getElementById("q").value;
            }
        </script>
    </th:block>

</div>
</body>
</html>