<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layouts/main">
<head>
    <title>index</title>
    <link rel="stylesheet" th:href="@{'/markdown/css/' + ${theme} + '.css'}" />
</head>
<body>
<!-- Main Content
-->
<div class="container" layout:fragment="content">
    <div class="col-lg-3 col-lg-offset-9">
        <input type="text" class="form-control" id="q" name="q"
               placeholder="title"/>
        <input type="button" class="btn btn-secondary" value="search" th:onclick="'postSearch()'"/>
    </div>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
            <ul class="pager" sec:authorize="hasRole('ROLE_ADMIN')">
                <li class="next">
                    <a th:href="@{/posts/new}">write</a>
                </li>
            </ul>
            <div class="post-preview" th:each="post : ${posts.content}">
                <a th:href="@{'/posts/' + ${post.id}}">
                    <h2 class="post-title" th:text="${post.title}">
                    </h2>
                    <!--<h3 class="post-subtitle">-->
                    <!--Problems look mighty small from 150 miles up-->
                    <!--</h3>-->
                </a>
                <p class="post-meta" style="margin: 10px 0px;">Posted by <strong th:text="${post.user.name}"></strong> on <strong th:text="${#temporals.format(post.regDate, 'yyyy-MM-dd')}"> </strong> category <strong th:text="${post.category.name}"></strong></p>
                <div class="row" th:if="${show}">
                    <div class="col-lg-10 col-lg-offset-0 col-md-10 col-md-offset-1" th:utext="${post.content}">

                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </div>
            </div>

            <nav aria-label="Page navigation" style="text-align: center;">
            <!-- Pager -->
                <ul class="pagination" th:if="${posts.totalPages != 0}">
                    <li th:class="${posts.number eq 0}?'disabled':''">
                        <a th:if="${posts.number eq 0}" href="javascript:void(0)" aria-label='Previous'><span aria-hidden='true'>&laquo;</span></a>
                        <a th:unless="${posts.number eq 0}" th:href="@{__${#httpServletRequest.requestURI}__(page=${posts.number-1})}"  aria-label='Previous'><span aria-hidden='true'>&laquo;</span></a>
                    </li>

                    <li th:each="no:${#numbers.sequence(0, posts.totalPages-1)}" th:class="${posts.number eq no}?'active':''">
                        <a th:href="@{__${#httpServletRequest.requestURI}__(page=${no})}" th:inline="text">[[${no+1}]]</a>
                    </li>

                    <li th:class="${posts.number+1 ge posts.totalPages}?'disabled':''">
                        <a th:if="${posts.number+1 ge posts.totalPages}" href="javascript:void(0)"   aria-label='Next'><span aria-hidden='true'>&raquo;</span></a>
                        <a th:unless="${posts.number+1 ge posts.totalPages}" th:href="@{__${#httpServletRequest.requestURI}__(page=${posts.number+1})}"  aria-label='Next'><span aria-hidden='true'>&raquo;</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>