<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog - Sample Post</title>

    <link rel="stylesheet" href="/markdown/css/github-gist.css">
</head>

<body>

<!-- Post Content -->
<article>
    <div class="container" layout:fragment="content">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" th:utext="${post.content}">
            </div>
        </div>
    </div>
</article>
<hr>
</body>
</html>
