<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/main}">
<head>
    <title>Spring Guides</title>
    <link th:href="@{/css/search.css}" rel="stylesheet" />
    <style>

        .content-right-pane--container h3 {
            border-top : 1px solid #ddd;
            padding : 6px 6.2%;
            margin : 0;
        }
        .sectlevel1 {
            padding : 4px 11px
        }
    </style>
</head>
<body th:onload="'initPrettify(),initHideShowGuide()'">
    <div class="container" layout:fragment="content">
        <div class="row">
            <div class="col-sm-9 blog-main">
                <h1 class="post-title" style="margin-bottom:3%" th:text="${guide.title}">
                </h1>

                <div style="margin-bottom:30px" th:utext="${guide.content}">
                </div>
            </div>
            <div class="col-sm-3 col-sm-offset-0 blog-sidebar">
                <div class="sidebar-module sidebar-module-inset content-right-pane--container" th:utext="${guide.sidebar}">Container</div>
            </div>
        </div>
    </div>
</body>
</html>
