<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/main}">

<head>
    <title>Spring Guides</title>
</head>
<body th:onload="'initPrettify(),initHideShowGuide()'">
<!-- Main Content -->
<div class="container" layout:fragment="content">
    <div class="row">
        <h1 class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1" style="margin-bottom:3%" th:text="${guide.title}">
        </h1>
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1" th:utext="${guide.content}">

        </div>
    </div>
</div>
</body>

</html>
