<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/owfont-regular.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <title>Weather Summary</title>
</head>
<div class="container" layout:fragment="content">
<h1>Weather Summary</h1>
<ul th:each="summary: ${summary}">
    <li>
        <h2 th:text="${summary.city} + ', ' +${summary.country}"></h2>

        <div>
            <i th:class="'owf owf-' + ${summary.code} + ' owf-4x'" style="opacity: 0.4" ></i>
            <span class="temp" th:text="${summary.fahrenheitTemperature}"></span><sup>°F</sup> / <span th:text="${summary.celsiusTemperature}"></span><sup>°C</sup>
        </div>
        <div style="clear: both;"></div>
    </li>
</ul>

</div>>
</html>